@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@1,500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    text-align: center;
}
.container {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* animation */
    background: linear-gradient(45deg ,rgb(242,186,33), rgb(233,64,87), rgb(159,41,180), rgb(20,228,255))no-repeat;
    animation: wave-background 5s ease infinite;
    background-size: 200%, 200%;
}
/* animation*/
@keyframes wave-background {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 75%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container > .title-container {
    margin: 3rem;
}

.container > .button-container {
    margin: 3rem;
}

.container button {
    font-size: 1.5rem;
    width: 5rem;
    margin: 1rem;
}

.animation{
    animation: fade-in 1s ease;
}
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animation1{
    animation: fade-in1 1s ease;
}
@keyframes fade-in1 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animation2{
    animation: fade-in2 1s ease;
}
@keyframes fade-in2 {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.animation3{
    animation: fade-in3 1s ease;
}
@keyframes fade-in3 {
    0% {
        opacity: 0.;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

img {
    width: 50rem;
    height: 25rem;
    border: 0.5rem solid #1E40AF;
    border-radius: 3rem;
}

